.hero{
    background-color: #2a2a2a;
    height: 58vh;
}

.slider{
    z-index: 1;
    color: white;
    width: 85%;
    margin: 0 auto;
    background-color: #2a2a2a;
}

.images{
    display: flex;
    justify-content: center;
}

.image-wrapper1 , .image-wrapper2{
    width: 100%;
}

.image-wrapper2 img{
    filter: blur(20px);
}

.owl-carousel .owl-item img{
    height: 520px;
}

.owl-carousel .owl-nav button.owl-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: white;
    position: absolute;
    font-size: 40px;
    top: 32%;
    right: -7%;
    cursor: pointer;
}
 
.owl-carousel .owl-nav button.owl-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: white;
    position: absolute;
    font-size: 40px;
    top: 32%;
    left: -7%;
    cursor: pointer;
} 

.owl-dots{
    display: none;
}

.slide-content{
        position: absolute;
        top: 25%;
        right:5%;
        width: 40%;
        text-align: right;
} 

.slide-content .header{
    /* margin-bottom: 3px; */
    font-size: 50px;
}

.slide-content .sub-header{
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 3px;
}

.slide-content .description{
    opacity: 0.8;
    /* letter-spacing: 2px; */
    margin-bottom: 10px;
    font-size: small;
    margin-top: 3px;
}

 .slide-content .buttons{
    margin-top: 5px;
    background-color:#2a2a2a;
    display: inline-block;
    padding: 3px 20px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px double grey;
}

@media (max-width:600px){
    .hero{
        height: 40vh;
    }
    
    .slider{
        width: 100%;
    }

    .owl-carousel .owl-item img{
        height: 40vh;
    }
    
    .owl-carousel .owl-nav button.owl-next{
        right: 4%;
    }

    .owl-carousel .owl-nav button.owl-prev{
        left: 4%;
    }

    .slide-content{
        top: 20%;
        width: 60%;   
        text-align: center;
        right: 20%;
    }

    .item .images .image-wrapper2 .slide-content .header{
        font-size: 25px;
    }

    .item .images .image-wrapper2 .slide-content .sub-header{
        font-size: 15px;
        letter-spacing: normal;
        margin-bottom: 2px;
    } 
    
    .image-wrapper1{
        display: none;
    }

    .image-wrapper2 img{
        filter: blur(2px)
    }

    .slide-content h1{
        font-size: 10px;
    }

    .slide-content .header, .slide-content .description{
        margin-bottom: 12px;
    }

    .slide-content .description{
        font-size: 11px;
    }

    .slide-content .buttons{
        padding: 2px 8px;
        font-size: 10px;
    }
}


