
*{
    margin: 0;    
}

a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
}

li{
    list-style: none;
}

.nav .links{
    display: block;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #2a2a2a;
    color: white;
    align-items: center;
    /* width: 100%; */
}

ul li{
    display: inline-block;
    position: relative;
    color: white;
}

.links{
    align-items: center;
}

.active{
    border-bottom: 2px solid white;
}

.nav .links ul{
    padding: 0;
    margin: 0;
}


.nav .links li .dropdown li{
    display: block;
}

.nav .links li .dropdown{
    background-color: #2a2a2a;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    border-bottom: 2px solid white;
}

.nav .links li:hover .dropdown{
    display: block;
}

.search{
    margin-left: 10px;
    font-size: small;
}

.toggleButton{
    display: none;
}

@media (max-width:900px){
    .nav{
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .nav .links{
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0;
        height: 100vh;
        background-color: #2a2a2a;
        text-align: center;
        display: none;
        z-index: 2;
    }

    .nav .links ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
    }

    .toggleButton{
        display: block;
        font-size: large;
    }

    .nav .links li{
        display: block;
        font-size: large;
        z-index: 999;
    }

    .nav .links ul .search{
        margin-top: 10px;
    }

    .nav .social-media{
        display: none;
        position: fixed;
        top: 93%;
        z-index: 3;
        width: 100%;
        left: 0;
    }
    
    .nav .social-media ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .nav .links li .dropdown{
        display: none;
        position: relative;
    }

    .nav .links li:hover .dropdown{
        display: block;
        position: absolute;
    }

    ul li a:hover{
        border-bottom: none;
    }
}

@media (min-width: 901px) {
    .nav .links{
        display: block;
    }
} 